/*
Descricao: PW-prova-28-09
nome_arquivo: contato.html
nome_exercicio: Situação de aprendizado 1 - tudo o que foi passado em aula
nome_aluno: Diego Augusto Ângelo
email_aluno: diego.angelo@aluno.cps.sp.gov.br
turma: WEBI-ISW028-A
*/

body{
    background-color: bisque;
    text-align: center;
    font-size: 20px;
}

.h1_login{
    color: brown;
    font-size: 30px;
}
table{
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}
td{
    padding: 10px;
}
input{
    font-size: 18px;
    padding: 5px;
}