body{
    background-color: bisque;
    text-align: center;
    font-size: 20px;
}

.h1_login{
    color: brown;
    font-size: 30px;
}
table{
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}
td{
    padding: 10px;
}
input{
    font-size: 18px;
    padding: 5px;
}